.btnBot{
  position: fixed;
  z-index: 5;
  right: 3%;
  bottom: 2%;
  background-color: transparent;
  color:white;
  border: none;
  border-radius: 50%;
  font-weight: 500;
  padding: 0;
}

.img{
  width: 150px;
  height: auto;
}