body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root{
  flex: 1;
}

html,body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  z-index: 3;
  width: 100%;
  top:0;
}

.carouselItem h1{
  z-index: 3;
  font-family: 'Courier New', Courier, monospace;
}
.carouselItem:before{
  content: "";
  background-color: #000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}


.react-chatbot-kit-chat-container {
  position: fixed !important;
  z-index: 7;
  right: 3%;
  top: 10%;
}
@media screen and (max-width: 768px){
  .react-chatbot-kit-chat-container{
    top: 15%;
    height: 62vh !important;
  }
  .react-chatbot-kit-chat-message-container{
    height: 50vh !important;
  }
  .react-chatbot-kit-chat-inner-container{
    height: 60vh !important;
  }
}
.react-chatbot-kit-chat-header {
  background-color: #212529 !important;
  color: white !important;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-image: url("./img/bot.png") !important;
  background-size: cover;
}
.react-chatbot-kit-chat-bot-avatar-container p{
  display: none;
}
.react-chatbot-kit-user-chat-message {
  background-color: rgb(104,104,104) !important;
  color: white !important;
}
.react-chatbot-kit-user-chat-message-arrow{
  border-left-color: rgb(104,104,104)!important;
}

.swal2-backdrop-show{
  z-index: 6 !important; 
}