.container_galery_images {
  min-height: 80vh;
  width: 95vw;
  margin: 1vw;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_image {
  width: 30vw;
  height: min-content;
  margin: 10px;
  border-radius: 10px;
}