.containerBox {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  background: url("../../img/imgInscription1.webp") no-repeat center center;
  background-size: cover;
}
.principalBox {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  margin: 0 auto;
  /* background-color: rgba(43, 43, 44, 0.604); */

}
.textBox {
  width: 100%;
  margin: 100px 0 0 60px;
  display: flex;
  background-size: cover;
  background-attachment:scroll;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: flex-start;
}
.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  color: #A7D129;
  width: 400px;
  margin: 0;
}
.subtitle {
  font-size: 1rem;
  color: #ffffff;
  line-height: 0.8;
}
.subtitleAdmin {
  font-size: 2rem;
  color: #ffffff;
  margin: 0;

}
.buttonLeft, .buttonRight {
  width: 3rem;
  height: 3rem;
  margin-right: 15px;
  border-radius: 50%;
  background-color: transparent;    
  filter:  opacity(0.6) drop-shadow(0 0 0 rgb(43, 43, 44))
}
.buttonLeft:hover {
  background-color: rgb(151, 151, 151);
  transition: 0.5s;
}

.buttonRight:hover {
  background-color: rgb(151, 151, 151);
  transition: 0.5s;
}

