.container_images {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(0 0 0 / 80%);
  min-height: 100vh;
  justify-content: center;
  width: 800px;
  margin-left: 300px;
}

.images_from_db {
  min-height: 200px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}