.containerBox {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: url("../../img/imgGallery1.webp") no-repeat center center;
    background-size: cover;
  background-position-x: 0px;
    background-attachment:scroll;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
}
.titleBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:flex-start;
  margin-top: 60px;
}
.title {
  margin: 30px 0 0 0  ;
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  color: #A7D129;
  width: 400px;
  line-height: 0.8;
  text-align: end;
}

.formBox {
  margin: 30px auto 0 auto;
  width: 60%;
  background-color: rgb(43, 43, 44);
  border-radius: 10px;
  padding: 20px;
}