
  .scrolldown {
    position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -45%);
    color:greenyellow;
    inline-size: 5%;
    block-size: 3%;
	z-index: 30;
	transition: opacity 0.3s ease-in-out;
    border:none;
    background-color: transparent;
  }
  .scrolldown::before,
  .scrolldown::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid greenyellow;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scrolldown::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  
  
