.logContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: auto;
}

.logContainer:before {
  content: "";
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url("../../img/backGround-img-logIn.webp");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -2;
  filter: brightness(0.5);
}

.title{
  font-family: Bebas Neue, cursive;
  font-size: 7rem;
  color: #A7D129;
  padding-top: 100px;
  text-align: center;
}

.loginContainer {
  position: relative;
  width: 40%;
  background-color: #212529;
  border-radius: 10px;
  padding: 20px 30px;
  align-self: center;
}


@media screen and (max-width: 768px){
  .loginContainer{
    width: 80%;
  }
}
          
.btnCustom{
  width: 100%;
  background-color: #A7D129 !important;
  border: none !important;
}

.btnCustom:hover{
  background-color: rgb(120,160,20) !important;
}

.btnCustom img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}