.CONTAINER {
  background-image: url('../../../img/imgCarousel1.webp');
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container_inputs {
  position: relative;
  display: flex;
  margin-top: 55px;
  padding: 10px;
  background-color: rgb(0 0 0 / 70%);
  justify-content: center;
  align-items: center;
  height: 70px;
}

.container_gallery_created {
  display: flex;
  position: relative;
  justify-content:center;
  align-items: flex-start;
  min-height: 80vh;
}

.contaier_img {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 1.5vw;
  background-color: rgb(0 0 0 / 70%);
  min-height: 80vh;
  justify-content: center;
  width: 100vw;
}

.images_from_db {
  height: min-content;
  width: 30vw;
  border-radius: 10px;
  padding: 10px;
}

.img_button_container {
  height:  min-content;
  min-width: 10px;
  position: relative;
}

.btn_delete_image {
  position: absolute;
  height: 20px;
  width: 20px;
  border: none;
  top: 10px;
  right: 10px;
}