.CONTAINER {
  background-image: url('../../../img/imgCarousel1.webp');
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.prueba{
  display: none;
}

.img_button_container:hover  .prueba{
  display: block;
}

ul{
  list-style: none;
}

.btn-trash{
  color: rgb(255, 17, 0);
}

.container_loading {
  min-height: 10px;
  min-width: 10px;
  position: absolute;
  left: 43%;
  top: 20vh;
}

.container_inputs {
  position: relative;
  display: flex;
  margin-top: 55px;
  padding: 30px 0 0 0;
  background-color: rgb(0 0 0 / 70%);
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.container_gallery_created {
  display: flex;
  position: relative;
  justify-content:center;
  align-items: flex-start;
  min-height: 80vh;
}

.contaier_img {
  display: flex;
  flex-wrap: wrap;
  scroll-behavior: auto;
  padding: 20px 1.5vw;
  background-color: rgb(0 0 0 / 70%);
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
}

.images_from_db {
  height: min-content;
  width: 30vw;
  border-radius: 20px;
  padding: 10px;
}

.container_images {
  width: 100vw;
  min-height: 100vh;
}

.img_button_container {
  height:  min-content;
  min-width: 10px;
  position: relative;
  cursor: pointer;
}

.input_images {
  height: 30px;
  width: 30vw;
  border: none;
  background-color: rgb(255 255 255 / 70%);
}

.btn_click {
  margin-left: 10px;
  border: none;
  height: 37px;
  width: 5vw;
  background-color: rgb(255 255 255 / 70%);
  border-radius: 5px;
}

.btn_click:active {
  background-color: rgb(255 255 255);
}

.btn_delete_image {
  position: absolute;
  height: 20px;
  width: 20px;
  border: none;
  top: 10px;
  right: 30px;
}

.tarea-icono {
  width:25px;
  height:25px;
  margin: 20px 5px;
  cursor: pointer;
}

.containe_img_id {
  display: flex;
  top: 2vh;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(0 0 0 / 50%);
  justify-content: center;
  align-items:center;
}

.images_from_db_id {
  margin-top: 2vh;
  display: flex;
  position: relative;
  height: 80vh;
  width: min-content;
}

.tarea-icono-id {
  display: flex;
  width:35px;
  height:35px;
  margin: 5px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 5px;
}

.image_id {
  min-height: 20px; 
  min-width: 20px;
  position: relative;
  padding: 10px;
}

.block_container {
  display: none;

}

.Upload_image_container {
  height: 40vh;
  width: 50vw;
  padding: 40px;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 20px;
}

.btn_upload {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  background-color: transparent;
}

.padding {
  padding-top: 7vw;
}

.btn_img_hover {
  display: none;
}




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}