.PanelBox {
    width: 20%;
    min-height: 100vh;
    display: flex;
    background-color: rgb(43, 43, 44);
    background-size: cover;
    background-attachment:scroll;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin-top: 80px;
    color: #bebebe;
}
